{% extends "layout.html" %}

{% block title %}
    Calculator
{% endblock %}

{% block main %}

            <div class="table-responsive">
                <table class="darkmodetext">
                    <thead>
                        <tr>
                            <th>Benchpress (1 Rep Max)</th>     
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="number" class="form-control" placeholder="KG"></td>
                            <td><button class="material-symbols-outlined">task_alt</button>
                        </tr>     
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="darkmodetext">
                    <thead>
                        <tr>
                            <th>Back Squat (1 Rep Max)</th>                   
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="number" class="form-control" placeholder="KG"></td>
                            <td><button class="material-symbols-outlined">task_alt</button>
                        </tr> 
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="darkmodetext">
                    <thead>
                        <tr>
                            <th>Deadlift (1 Rep Max)</th>                   
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="number" class="form-control" placeholder="KG"></td>
                            <td><button class="material-symbols-outlined">task_alt</button>
                        </tr> 
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="darkmodetext">
                    <thead>
                        <tr>
                            <th>Overhead Press (1 Rep Max)</th>                   
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="number" class="form-control" placeholder="KG"></td>
                            <td><button class="material-symbols-outlined">task_alt</button>
                        </tr> 
                    </tbody>
                </table>
            </div>

            <div class="in-middle">
                <h1 class="darkmodetext">1 Rep Max Estimate Calculator</h1>
                <div class="table-responsive">
                    <table class="darkmodetext">
                        <thead>
                    
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="number" class="form-control" placeholder="KG"></td>
                                <td><input type="number" class="form-control" placeholder="xReps"></td>
                            </tr> 
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive darkmodetext">
                    <table>
                        <tbody>
                            <tr>
                                <td><input type="number" class="form-control" disabled="true" placeholder="1 Rep Max"></td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>

{% endblock %}