{% extends "layout.html" %}

{% block title %}
    {{ program_name }}
{% endblock %}

{% block main %}    
        
        {% if day %}
        <div class="day darkmodetext">
            <h1>Day {{ day }}</h1>
            <h1><div id="timer"></div></h1>
        </div>
        {% endif %}
        
            
        <form action="/current_program" method="post">
        {% for exercise in exercises %}
            <div class="table-responsive">
                <table class="darkmodetext">
                    <thead>
                        <tr>
                            <th colspan="2">{{ exercise.exercise }} </th>     
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(exercise.sets) %}
                        <tr>
                            <input type="hidden" name="exercise" value="{{ exercise.exercise }}-set-{{ i }}">
                            <td><input type="number" class="form-control" name="kg" placeholder="KG"></td>
                            <td><input type="number" class="form-control" name="reps" placeholder="{{ exercise.reps }}"></td>
                            <td>
                            <button 
                                class="material-symbols-outlined start-timer" id="{{ exercise.exercise }}-start-timer-{{ i }}" 
                                onclick="swapIcon('{{ exercise.exercise }}-start-timer-{{ i }}'); startTimer();">
                                task_alt
                            </button>

                            <button 
                                class="material-symbols-outlined stop-timer" 
                                id="{{ exercise.exercise }}-stop-timer-{{ i }}" 
                                onclick="stopTimer();">
                                close
                            </button>  
                            </td>
                        </tr>  
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        {% endfor %}
                            <!-- finish workout -->
                            <button class="btn btn-primary" id="finish-workout" type="sumbit">
                                Finish Workout
                            </button>
        </form>
        
                           
        <!-- audio -->
        <audio id="timeout_audio"></audio>

{% endblock %}