{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}    
        
        {% if day %}
        <div class="day">
            <h1 class="darkmodetext">Day {{ day }}</h1>
        </div>
        {% endif %}
            
        
        {% for exercise in exercises %}
            <div class="table-responsive">
                <table class="darkmodetext">
                    <thead>
                        <tr>
                            <th colspan="2">{{ exercise.exercise }} </th>     
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(exercise.sets) %}
                        <tr>
                            <td><input type="number" class="form-control" placeholder="KG"></td>
                            <td><input type="number" class="form-control" placeholder="{{ exercise.reps }}"></td>
                            <td><button class="material-symbols-outlined" onclick="startTimer()">task_alt</button> <div class="timer"></div></td>
                        </tr>  
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}


    <script>
    // Timer function that starts when the button is clicked
    function startTimer() {
    // Code for starting the timer
    }
    </script>  

{% endblock %}