{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}    
        
        {% if day %}
        <div class="day darkmodetext">
            <h1>Day {{ day }}</h1>
            <h1><div id="timer"></div></h1>
        </div>
        {% endif %}
        
            
        
        {% for exercise in exercises %}
            <div class="table-responsive">
                <table class="darkmodetext">
                    <thead>
                        <tr>
                            <th colspan="2">{{ exercise.exercise }} </th>     
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(exercise.sets) %}
                        <tr>
                            <td><input type="number" class="form-control" placeholder="KG"></td>
                            <td><input type="number" class="form-control" placeholder="{{ exercise.reps }}"></td>
                            <td>
                            <button class="material-symbols-outlined start-timer" onclick="swapIcon(); startTimer();">task_alt</button>

                            <button class="cancelled-text material-symbols-outlined stop-timer" style="display: none;" onclick="stopTimer();">close</button>
                            
                            </td>
                        </tr>  
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        {% endfor %}
        
        <audio id="timeout_audio"></audio>

{% endblock %}