{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

        <!-- intro text -->
        <div class="homepage" id="homepagetext">
        <h5>I'm baby activated charcoal marfa lumbersexual tacos meh quinoa dreamcatcher, chartreuse yes plz umami polaroid vape banjo chambray. Knausgaard 3 wolf moon vegan thundercats, quinoa food truck cronut gentrify intelligentsia. Listicle shoreditch gluten-free umami raw denim banjo chillwave whatever artisan adaptogen street art 8-bit gochujang semiotics.</h1>
        </div>

        <!-- carousel.nl -->
        <!-- <div class="fixed-bottom">    
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active text-center">
                    <img class="img-fluid" src="https://cdn.pixabay.com/photo/2016/03/27/07/08/man-1282232_960_720.jpg" alt="powerlifter">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>
                <div class="carousel-item text-center">
                    <img class="img-fluid" src="https://cdn.pixabay.com/photo/2014/11/17/13/17/crossfit-534615_960_720.jpg" alt="female with bar">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item text-center">
                <img class="img-fluid" src="https://cdn.pixabay.com/photo/2014/10/22/17/25/stretching-498256_960_720.jpg" alt="guy stretching">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
              </div>
            </div>    -->

{% endblock %}