{% extends "layout.html" %}

{% block title %}
    Calculator
{% endblock %}

{% block main %}

            {% for onerepmax in onerepmaxs %}
            <form action="/1rm" method="post">
                <div class="table-responsive">
                    <table class="darkmodetext">
                        <thead>
                            <tr>
                                <th>Benchpress (1 Rep Max)</th>     
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td><input type="number" step="0.1" min="0" class="form-control" placeholder="{{ onerepmax.benchpress1rm }} KG" name="benchpress_kg"></td>
                                <td><button class="material-symbols-outlined" type="submit">task_alt</button>
                            </tr> 
                                
                        </tbody>
                    </table>
                </div>
            

                <div class="table-responsive">
                    <table class="darkmodetext">
                        <thead>
                            <tr>
                                <th>Back Squat (1 Rep Max)</th>                   
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="number" class="form-control" placeholder="{{ onerepmax.backsquat1rm }} KG" name="squat_kg"></td>
                                <td><button class="material-symbols-outlined" type="submit">task_alt</button>
                            </tr> 
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="darkmodetext">
                        <thead>
                            <tr>
                                <th>Deadlift (1 Rep Max)</th>                   
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="number" class="form-control" placeholder="{{ onerepmax.deadlift1rm }} KG" name="deadlift_kg"></td>
                                <td><button class="material-symbols-outlined" type="submit">task_alt</button>
                            </tr> 
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="darkmodetext">
                        <thead>
                            <tr>
                                <th>Overhead Press (1 Rep Max)</th>                   
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="number" class="form-control" placeholder="{{ onerepmax.overheadpress1rm }} KG" name =OHP_kg></td>
                                <td><button class="material-symbols-outlined" type="submit">task_alt</button>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </form>
            {% endfor %}

            <div class="in-middle">
                <h1 class="darkmodetext">1 Rep Max Estimate Calculator</h1>
                <div class="table-responsive">
                    <table class="darkmodetext">
                        <thead>
                    
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="number" id="weight-input" class="form-control" placeholder="KG"></td>
                                <td><input type="number" id="reps-input" class="form-control" placeholder="xReps"></td>
                            </tr> 
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive darkmodetext">
                    <table>
                        <tbody>
                            <tr>
                                <td><input type="number" class="form-control" id="one-rep-max-input" disabled="true" placeholder="1 Rep Max"></td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>

{% endblock %}