{% extends "layout.html" %}

{% block title %}
    Programs
{% endblock %}

{% block main %}

        <!-- search bar -->
        <div class="search-container">
            <form>
            <input type="text" placeholder="Search.." id="search-input">
            </form>
        </div>


          <!-- programs content cards -->
          <div class="row">
            {% for program in programs %}
            <div class="col-sm-6">
              <div class="card">
                <img src="{{ program.image }}" class="card-img-top" alt="Photo of someone bodybuidling">
                <div class="card-body">
                  <h5 class="card-title">{{ program.program_name }}</h5>
                  <p class="card-text">{{ program.description }}</p>
                  <form action="/programs" method="post">
                    <button class="btn btn-info" name=program_id value="{{ program.id }}" type="sumbit">Start Program</button>
                  </form>    
                </div>
              </div>
            </div>
            {% endfor %}
            
{% endblock %}