{% extends "layout.html" %}

{% block title %}
    Programs
{% endblock %}

{% block main %}

         <!-- timer link -->
         <div class="d-flex justify-content-center">
            <a href="timer.html" class="btn btn-primary">Timer</a>
          </div>

          <!-- programs content cards -->
          <div class="row">

            <div class="col-sm-6">
              <div class="card">
                <img src="https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg" class="card-img-top" alt="Photo of someone bodybuidling">
                <div class="card-body">
                  <h5 class="card-title">Reddit PPL</h5>
                  <p class="card-text">Reddit PPL, 6 day split for beginner bodybuilding</p>
                  <a href="ppl.html" class="btn btn-info">Click</a>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <img src="https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="Photo of someone powerlifting">
                <div class="card-body">
                  <h5 class="card-title">nSuns</h5>
                  <p class="card-text">6 day split for powerlifting</p>
                  <a href="#" class="btn btn-info">Click</a>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <img src="https://cdn.pixabay.com/photo/2017/11/28/09/16/woman-2983129_1280.jpg" class="card-img-top" alt="Photo of someone powerlifting">
                <div class="card-body">
                  <h5 class="card-title">BBB</h5>
                  <p class="card-text">6 day split for powerlifting</p>
                  <a href="#" class="btn btn-info">Click</a>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <img src="https://images.pexels.com/photos/1431283/pexels-photo-1431283.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" alt="Photo of someone powerlifting">
                <div class="card-body">
                  <h5 class="card-title">Program #4</h5>
                  <p class="card-text">6 day split for powerlifting</p>
                  <a href="#" class="btn btn-info">Click</a>
                </div>
              </div>
            </div>
        </div>

{% endblock %}